.link-item {
    position: relative;
    overflow: hidden;
    color: inherit;
    transition: color 0.5s ease;
}

.link-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--accent);
    transition: width 0.3s ease;
}

.link-item:hover {
    color: var(--accent);
    cursor: pointer;
    font-weight: bold;
}

.link-item:hover::before {
    width: 80%;
}

.bg-dark .nav-link {
    color: inherit !important;
}

.resume-button-container {
    text-align: center;
    display: flex;
    justify-content: center;
}

.theme-toggle-container {
    display: flex;
    align-items: center;
    margin-left: 12px;
}

@media (max-width: 992px) {
    .navbar-offcanvas {
        background-color: #343a40;
    }

    .navbar-offcanvas .nav-link {
        color: #fff !important;
    }
}
